@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;700&display=swap');

body {
  font-family: 'Hind Siliguri', sans-serif;
  color:#34495e;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdowns {
  padding: 60px 0;
}

.dropdown-wrapper {
  padding-bottom: 10px;
}


.title {
  font-size: 50px;
  border-bottom: solid 4px rgba(231, 76, 60, 0.3);
  padding-bottom: 20px;
  color: #34495e;
}

.trigger {
  margin: 0;
  line-height: 1;
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
  user-select: none;
}

.trigger::after {
  content: '\25BE';
  position: absolute;
  right: 0;
  top: 0;
  color:#e74c3c;
}

.answer {
  color:#34495eb3;
  font-size: 22px;
  display: block;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
    text-align: center;
  }
  .dropdowns {
    padding-left: 30px;
    padding-right: 30px;
  }
}